<!-- class uses bootstrap styling -->
<div class="card">
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-text'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <!-- ngModel for 2-way binding to a property -->
                <!-- Need to import FormsModule to use -->
                <input [(ngModel)]='listFilter' 
                    type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <!-- ngIf and ngFor agnular directives -->
        <!--  ngIf - if the expression evaluated to false, the element and its children are removed -->
        <div  class='table-responsive'>
            <table class='table'
                    *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- event handling -->
                            <button class='btn btn-primary'
                             (click)='toggleImage()'  >
                               <!-- interprolation to use javascript with variables-->
                               {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!--  ngFor repeats a block of the dom tree for each item in the list -->
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <!-- Use property binding for image instead of interpolation  -->
                            <img *ngIf=showImage
                             [src] = 'product.imageUrl'
                             [title] = 'product.productName' 
                             [style.width.px] = 'imageWidth'
                             [style.margin.px] = 'imageMargin' />
                        </td>
                        <!-- Templated properties from the ProductListComponent class -->
                        <!-- <td>{{ product.productName }}</td>  (before anchor tag and link to detail page) -->
                        <!-- for routerLink, first argument is the string path of route, second is the parameters -->
                        <td><a [routerLink]= "['/products', product.productId]">
                            {{ product.productName }}
                            </a>
                        </td> 
                        <!-- using a pipe to transform the text -->
                        <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency }}</td>
                        <!-- Nested Component (need to declare in the angular module to use)
                          Can only pass data to the rating property when it has the @Input decorator
                          Use event binding to bind to the event, and access the event payload using $event
                        -->
                        <td><app-star [rating]='product.starRating'
                                      (ratingClicked)='onRatingClicked($event)'>
                        </app-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
